.idea
.sass-cache
nbproject

.buildpath
.project
.settings

Thumbs.db

vendor
composer.phar

.DS_Store

phpunit.phar
phpunit.xml

node_modules

backend/web/index-dev.php
accounts/web/index-dev.php
frontend/web/index-dev.php